body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .column4 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.Navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;

}
.hamburger{
    cursor: pointer;
    margin-top: 10px;
    
    }
    .hamburger .line{
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 5px;
        background-color: white;
        
    }
    .Nav-link{
        display: none;
    }

    .Navbar img{
        height: 50px;
        width: 150px;
    }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .card img{
   border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-color: #000;
  }
  .text{
    text-align: justify;
    line-height: 30px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  @media screen  and (min-width:1024px) {

    .hamburger{
        display: none;
    }

    .Nav-link{

        display: flex;
    }
    .Nav-link a{
        text-decoration: none;
        padding: 10px;
        color: red;
        font-weight: 600;
        font-size: 20px;
    }

    .Nav-link a:hover{
        
        color: black;
        
    }
    #doc{
        cursor: pointer;
    }
    


    .main{
        color: white;
        display: flex;
        padding-bottom: 0%;
        width: 100%;
        height: 85vh;
        padding-right: 80px;
    }

    .side-right{
        position: relative;
        margin-top: 15%;
        margin-left: 0px;
        width: 50%;
        
    }
    .side-right h2{
        font-size: 35px;
        
    }
    .side-right p{
        font-size: 20px;
        line-height: 5px;
        
    }

    .side-left{
        position: relative;
        margin-bottom: 0px;
        width: 50%;
    }
    .Navbar{
        
        padding-left: 80px;
        padding-right: 80px;
        
    }

    #post{
       
        height: 40px;
        width: 100px;
        font-size: 20px;
        
    }
    #Search{
        height: 40px;
        width: 100px;
        font-size: 20px;
    }
    
}



@media screen  and (max-width:768px) {
    .side-right{
        position: absolute;
        margin-left: 10%;
        margin-top: 40%;
    }

}
@media screen  and (max-width:390px) {
    .side-right{
        position: absolute;
        margin-left: 10%;
        margin-top: 70%;
    }

}