@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,900&family=Nunito:wght@300;900&display=swap');

*{
    box-sizing: border-box;
}
html{
    max-width: 100vw;
    min-height: 100vh;
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: nunito, sans-serif;
    
}
.Navbar{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    background-color: white;
    position: fixed;
    z-index: 999;
    
    /*box-shadow: 1px 1px 30px gray;*/
}
.hamburger{
    cursor: pointer;
    margin-top: 10px;
    
    }
    .hamburger .line{
        display: block;
        width: 25px;
        height: 2px;
        margin-bottom: 4px;
        background-color: black;
        
    }
    .Nav-link{
        display: none;
    }

    .Navbar img{
        height: 50px;
        width: 120px;
    }
    .left-nav{
        display: flex;
        width: 20%;
        justify-content: space-between;
    }

    #out{
        color: black;
        text-decoration: none;
        font-family: nunito, sans-serif;
        font-weight: 600;
        font-size: 15px;
        margin-left: 10px;
    
    }
    .logout{
        margin-top: 18px;
        display: flex;

    }
    form.search_form{
        position: relative;
        margin-top: 12px;
    }
    form.search_form input{
        width: 100%;
        padding: 10px 10px;
        font-size: 1em;
        border: solid 1px #C6C6C6;
        border-radius: 5px;
        margin: 0 auto;
        transition: .2s ease-in;
    }
    form.search_form input:focus{
        border-color: #00808f;
        outline: none;
    }
    form.search_form i{
        position: absolute;
        top: 15px;
        right: 10px;
        color: #C6C6C6;
    }

    .left{
        width: 15%;
        background-color: rgb(223, 222, 222);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0; 
        z-index: 1; 
        padding-top: 12vh;
        padding-left: 10px;
        
}
.left .foot{
    width: 80%;
    margin-top: 40vh;
    font-size: 13px;
    color: black;
}    
.foot img{
    width: 50%;
}    
    
    .icons{
        display: flex;
        width: 80%;
        padding-left: 4%;
        font-size: 17px;
        font-weight: 500;
        align-items: center;
    }

    .icons i{
        display: inline;
        
    }
    .icons p{
        margin-left: 15px;

    }
    .main{
        display: flex;
        width: 100%;
    }

    .main-bar{
        width: 85%;
        display: block;
        right: 0;
        margin-left: 16%;
        padding-top: 13vh;
    }

    .reso label{
        font-size: 16px;
        color: black;
        font-weight: 550;
        margin-top: 40px;

    }

    .reso textarea{
        width: 80%;
        border: 2px solid black;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        padding: 30px;
        
    }
    .reso{
        padding-left: 40px;
        padding-top: 3%;
    }
    .error-code{
        width: 80%;
        height: 30px;
        border: 2px solid black;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        
    }
    .butt{
        cursor: pointer;
        font-weight: 550;
        background-color: #939597;
        color: white;
        margin-top: 20px;
        margin-bottom: 10vh;
        width: 20%;
        border-color: none;
        min-height: 40px;
        font-size: 1rem;

    }
    .file{
        cursor: pointer;
    
    }

    #head{
        text-align: left;
        text-decoration: underline;
        font-family:'Times New Roman', Times, serif;
        margin-left: 50px;
    }

    .collapse{
        width: 5%;
        display: block;

    }
    .collapse-main{
        width: 90%;
        margin-left: 8%;
    }
    .paranone{
        display: none;
    }
    .ico{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .linked {
        color: black;
        text-decoration: none;
    }
    .linked:hover{
        color: red;
        
    }

    .stars {
        margin: 20px;
        display: inline-block;
        direction: rtl;
    }

    .stars input[type="radio"] {
        display: none;
    }

    .stars label {
        font-size: 30px;
        color: #ccc;
        cursor: pointer;
    }

    .stars label:before {
        content: "\2605";
        font-size: 30px;
    }

    .stars input[type="radio"]:checked ~ label {
        color: #FFD700;
    }

    .rate{
        background-color: black;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        text-align: center;
        padding: 40px;
        margin-top: 5%;
        height: 60vh;
    }
    #feed{
        width: 60%;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
    }

    .rate button{
        background-color: red;
        color: white;
        border: none;
        width: 100px;
        min-height: 40px;
        font-size: 1rem;
        font-weight:600;
        margin-top: 10px;
        font-family: 'nunito', sans-serif;
        cursor: pointer;

    }
    .no{
        display: none;
    }
    .yes{
        display: block;
    }


    @media screen  and (min-width:1024px) {

        .hamburger{
        
            margin-top: 25px;
            margin-left: 80px;
            
            }

        .Nav-link{
    
            display: flex;
        }
        .Nav-link a{
            text-decoration: none;
            padding: 10px;
            color: red;
            font-weight: 600;
            font-size: 20px;
        }
    
        .Nav-link a:hover{
            
            color: white;
            
        }
      
        .Navbar{
            
            padding-left: 20px;
            padding-right: 20px;
            
        }

        .departments{
            display: flex;
            flex-wrap: wrap;
        }

        .units{
            width: 27%;
            margin: 30px;
            
        }
        
    }

    @media screen  and (min-width:1024px) {

        .hamburger{
        
            margin-top: 25px;
            margin-left: 80px;
            
            }

        .Nav-link{
    
            display: flex;
        }
        .Nav-link a{
            text-decoration: none;
            padding: 10px;
            color: red;
            font-weight: 600;
            font-size: 20px;
        }
    
        .Nav-link a:hover{
            
            color: white;
            
        }
      
        .Navbar{
            
            padding-left: 20px;
            padding-right: 20px;
            
        }

        .departments{
            display: flex;
            flex-wrap: wrap;
        }

        .units{
            width: 27%;
            margin: 30px;
            
        }
        

        
    }

    @media screen and (max-width: 768px){

        .collapse{
            width: 0%;
            display: none;
    
        }
        .collapse-main{
            width: 100%;
            margin-left: 1%;
        }
        .paranone{
            display: none;
        }
        .ico{
            display: none;
            
        }

        .left-nav img{
            display: none;
        }

        .hamburger{
            margin-top: 35%;
            margin-left: 4%;
        }
    }

        @media screen and (max-width: 369px){
            .right{
        
                width: 20%;
               
        
            }
            .left{
                width: 30%;



        }
        
    }