@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,900&family=Nunito:wght@300;900&display=swap');

*{
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: nunito, sans-serif;
    background-image: linear-gradient(to bottom, rgb(190, 185, 185), rgb(53, 53, 51));
}
.Navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;

}
.hamburger{
    cursor: pointer;
    margin-top: 10px;
    
    }
    .hamburger .line{
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 5px;
        background-color: black;
        
    }
    .Nav-link{
        display: none;
    }

    

    .Navbar img{
        height: 50px;
        width: 130px;
    }

.main{
    color: white;
    position: relative;
    width: 100%;
    height: 85vh;
}
.side-right{
    position: relative;
    margin-left: 10%;
    margin-top: 30%;
}

.right{
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
    margin-bottom: 5px;
}
.side-left{
    position: absolute;
    margin-bottom: 0px;
    padding-bottom: 0cqw;
    border: none;
    
}
 .content{
    position: relative;

    height: 85vh;
    margin-right: 20px;
    object-fit: cover;
    
}
.side-right p{
    line-height: 3px;  
}
.buttons{
    display: flex;
    font-family: nunito, sans-serif;
    
}
#post{
    background-color: #ec0741;
    color: white;
    border: none;
    font-family: nunito, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}
#Search{
    margin-left: 20px;
    background-color: white;
    color: #ec0741;
    border: none;
    font-family: nunito, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.Login{
    display: block;
    background-color: white;
    width: 70%;
    height: 50vh;
    border-radius: 10px;
    color: black;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
    font-size: 15px;
}
.Login img{
    width: 40%;
    height: 7vh;
}
.Login input{
    width: 100%;
    height: 5vh;
}

.email-form{
    margin-top: 20px;
    width: 100%;
}
.email-form input{
    
    width: 100%;
    font-size: 15px;
    font-family: nunito, sans-serif;
    font-weight: 500;
}
.password-form{
    margin-top: 20px;
    width: 100%;
}
.Sign button {
    margin-top: 20px;
    background-color: #ec0741;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 5vh;
    font-weight: 600;
    font-size: 15px;
    font-family: nunito, sans-serif;
    cursor: pointer;
}

#forgot{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

#logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#logo i{
    cursor: pointer;
}
.hide{
    display: none;
}

body .aim{
    background-color: white;
    color: white;
}

.typewriter p{
    white-space: nowrap;
    overflow:visible;
    
}
#cursor {
    display: inline-block;
    width: 1px;
    animation: blinkCursor 0.5s step-end infinite;
}

@keyframes blinkCursor {
    from, to {
        border-right: 5px solid black;
    }
    50% {
        border-right: 10px solid black;
    }
}

@media screen  and (min-width:1024px) {

    .hamburger{
        display: none;
    }

    .Nav-link{

        display: flex;
    }

    
    
    .Nav-link a{
        text-decoration: none;
        padding: 10px;
        color: red;
        font-weight: 600;
        font-size: 20px;
    }

    .Nav-link a:hover{
        
        color: white;
        
    }
    #doc{
        cursor: pointer;
    }
    


    .main{
        color: white;
        display: flex;
        width: 100%;
        height: 85vh;
        /*padding-right: 80px;*/
    }

    .side-right{
        position: relative;
        margin-top: 15%;
        margin-left: 20px;
        width: 50%;
        
    }
    .side-right h1{
        font-size: 35px;
        
    }
    .side-right p{
        font-size: 20px;
        line-height: 5px;
        
    }

    .side-left{
        position: relative;
        margin-bottom: 0px;
        width: 50%;
    }
    .Navbar{
        
        padding-left: 80px;
        padding-right: 80px;
        
    }

    #post{
       
        height: 40px;
        width: 100px;
        font-size: 20px;
        
    }
    #Search{
        height: 40px;
        width: 100px;
        font-size: 20px;
    }

    
    
}



@media screen  and (max-width:768px) {
    .side-right{
        position: absolute;
        margin-left: 10%;
        margin-top: 40%;
        width: 70%;
    }


    .Login{
        
        width: 100%;
       
         
    }

    
   

}
@media screen  and (max-width:390px) {
    .side-right{
        position: absolute;
        margin-left: 10%;
        margin-top: 70%;
        width: 80%;
        
       
    }

    .Login{
        
        width: 100%;
        margin-bottom: 40px;
         
    }

    .Login{
        
        
        margin-bottom: 40px;
         
    }
    .side-right{
        position: absolute;
        bottom: 3;
    }
   
}