@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,900&family=Nunito:wght@300;900&display=swap');

*{
    box-sizing: border-box;
}
html{
    max-width: 100vw;
    min-height: 100vh;
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: nunito, sans-serif;
    
}
.Navbar{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    background-color: white;
    position: fixed;
    z-index: 999;
}
.hamburger{
    cursor: pointer;
    margin-top: 10px;
    
    }
    .hamburger .line{
        display: block;
        width: 25px;
        height: 2px;
        margin-bottom: 4px;
        background-color: black;
        
    }
    .Nav-link{
        display: none;
    }

    .Navbar img{
        height: 50px;
        width: 120px;
    }
    .left-nav{
        display: flex;
        width: 20%;
    }
    .right-nav{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .right-nav a{
        color: black;
        text-decoration: none;
        font-family: nunito, sans-serif;
        font-weight: 600;
        font-size: 15px;
        margin-left: 10px;
    
    }
    .logout{
        margin-top: 18px;
        display: flex;
    }
    form.search_form{
        position: relative;
        margin-top: 12px;
    }
    form.search_form input{
        width: 100%;
        padding: 10px 10px;
        font-size: 1em;
        border: solid 1px #C6C6C6;
        border-radius: 5px;
        margin: 0 auto;
        transition: .2s ease-in;
    }
    form.search_form input:focus{
        border-color: #00808f;
        outline: none;
    }
    form.search_form i{
        position: absolute;
        top: 15px;
        right: 10px;
        color: #C6C6C6;
    }
    .left{
        width: 15%;
        background-color: rgb(223, 222, 222);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0; 
        z-index: 1; 
        padding-top: 12vh;
        padding-left: 10px;
        
}
.left .foot{
    width: 80%;
    margin-top: 40vh;
    font-size: 13px;
    color: black;
}    
.foot img{
    width: 50%;
}    
    
    .icons{
        display: flex;
        width: 80%;
        padding-left: 4%;
        font-size: 17px;
        font-weight: 500;
        align-items: center;
    }

    .icons i{
        display: inline;
        
    }
    .icons p{
        margin-left: 15px;

    }

    .right{
        
        width: 85%;
        display: block;
        right: 0;
        margin-left: 15%;
        padding-top: 12vh;
        
        
        

    }
    .post{
        width: 90%;
        text-align: justify;
        line-height: 30px;
        background-color: #c5c2c2;
        box-shadow: 1px 1px 30px rgb(255, 255, 255);
        padding-right: 30px;
        padding-left: 20px ;
        margin-bottom: 40px;
        margin-left: 2%;
        padding: 30px;
        color: black;
        font-size: 18px;

    }
    .post p{
        font-weight: 500;
    }

    .collapse{
        width: 5%;
        display: block;

    }
    .collapse-main{
        width: 90%;
        margin-left: 8%;
    }
    .paranone{
        display: none;
    }
    .ico{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .linked {
        color: black;
        text-decoration: none;
    }
    .linked:hover{
        color: red;
        
    }
    .thumbs{
        display: flex;
    }
    .thumbs p{
        margin-left: 20px;
    }
    .thumbs i{
        margin-top: 20px;
        margin-left: 30px;
        cursor: pointer;
    }

    .like{
        display: flex;
    }

    @media screen  and (min-width:1024px) {

        .hamburger{
        
            margin-top: 25px;
            margin-left: 80px;
            
            }

        .Nav-link{
    
            display: flex;
        }
        .Nav-link a{
            text-decoration: none;
            padding: 10px;
            color: red;
            font-weight: 600;
            font-size: 20px;
        }
    
        .Nav-link a:hover{
            
            color: white;
            
        }
      
        .Navbar{
            
            padding-left: 20px;
            padding-right: 20px;
            
        }

        .departments{
            display: flex;
            flex-wrap: wrap;
        }

        .units{
            width: 27%;
            margin: 30px;
            
        }
        
    }

    @media screen  and (min-width:1024px) {

        .hamburger{
        
            margin-top: 25px;
            margin-left: 80px;
            
            }

        .Nav-link{
    
            display: flex;
        }
        .Nav-link a{
            text-decoration: none;
            padding: 10px;
            color: red;
            font-weight: 600;
            font-size: 20px;
        }
    
        .Nav-link a:hover{
            
            color: white;
            
        }
      
        .Navbar{
            
            padding-left: 20px;
            padding-right: 20px;
            
        }

        .departments{
            display: flex;
            flex-wrap: wrap;
        }

        .units{
            width: 27%;
            margin: 30px;
            
        }
        
    }

    @media screen and (max-width: 768px){

        .collapse{
            width: 0%;
            display: none;
    
        }
        .collapse-main{
            width: 100%;
            margin-left: 1%;
        }
        .paranone{
            display: none;
        }
        .ico{
            display: none;
            
        }

        .left-nav img{
            display: none;
        }

        .hamburger{
            margin-top: 35%;
            margin-left: 4%;
        }
    }

        @media screen and (max-width: 369px){
            .right{
        
                width: 20%;
               
        
            }
            .left{
                width: 30%;



        }
        
    }